[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
transformers = "*"
torch = "*"
py2neo = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
mysql-connector-python = "*"
openai = "*"
google-generativeai = "*"
selenium = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-experimental = "*"
neo4j = "*"

[dev-packages]

[requires]
python_version = "3.9"
